@model DayCare.Models.Organisation
@{
    ViewBag.Title = "Organisation Management";
    ViewBag.SubTitle = "Manage all your groups via this platform";
    ViewBag.Description = "Create an organisation via the form or got back to the list of organisations ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Create a new organisation</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="Organisation" asp-action="Create" method="post" asp-antiforgery="true">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Name">
                    <label class="mdl-textfield__label" asp-for="Name">Name</label>
                    <span class="mdl-textfield__error" asp-for="Name" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Description">
                    <label class="mdl-textfield__label" asp-for="Description">Description</label>
                    <span class="mdl-textfield__error" asp-for="Description"></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>